@media screen and (min-width:360px)and (max-width: 500px) {

  /* Сховати бургер на великих екранах */
  .burger {
    display: block;
  }

  /* Адаптація: показати бургер і сховати меню */
  nav ul {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    right: -60px;
    padding: 15px;
    border-radius: 10px;
    z-index: 100;
  }

  nav ul.active {
    display: flex;
  }

  .burger {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin-right: -180px;
  }

  header {
    position: relative;
  }

   .main-image-container{
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     height: 40vh;
     width: 80vw;

   }
  .main-image {
    width: 115vw;
    max-height: 40vh;
    display: block;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }

  .hero-content {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-content: center;

  }

  .hero-content h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-content: center;

  }


    .carousel-track {
      display: none;

  }


.carousel{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: inherit;
  width: 40vw;
  height: 30px;
}

.hero-description{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  width: 70vw;

}

}
